<div *ngIf="LolChampions.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Lol Champion Id</th>
			<th scope="col">Champion Name</th>
			<th scope="col">Role</th>
			<th scope="col">Difficulty</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let lolchampion of LolChampions">
			<td>{{lolchampion.id}}</td>
			<td>{{lolchampion.name}}</td>
			<td>{{lolchampion.role}}</td>
      <td>{{lolchampion.difficulty}}</td>
			<td>
			  <a [routerLink]="['/lol-champion-edit/', lolchampion.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
			  <a [routerLink]="" (click)="deleteLolChampion(lolchampion.id)" class="btn btn-danger btn-sm float-right">Delete</a>
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>
