<button class="btn btn-outline-primary" style="margin-left: 100px;" routerLink="/create-lol-champion">Create Champions</button>

<button class="btn btn-outline-primary" style="margin-left: 20px;" routerLink="/lol-champion-list">List Champions</button>

<!-- Use this in the AppComponent template -->
<div class="container">
  <h2>Lol Champions UI</h2>
  <router-outlet></router-outlet>
</div>
