<div class="col-md-12">
    <h3 class="mb-3 text-center">Edit Champion Details</h3>

    <div class="form-group row">
      <label class="control-label col-md-12">Champion Name</label>
      <input type="text" style="margin-left: 10px;" [(ngModel)]="lolChampionDetails.name" class="form-control">
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12">Champion Role</label>
      <input type="text" style="margin-left: 10px;" [(ngModel)]="lolChampionDetails.role" class="form-control">
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12">Champion Difficulty</label>
      <input type="text" style="margin-left: 10px;" [(ngModel)]="lolChampionDetails.difficulty" class="form-control">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateLolChampion()">Save Champion</button>
    </div>
 </div>
